@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kalnia:wght@400&display=swap');
@import url('main.css');

.header {
    background-color: var(--color-background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
}

.logo {
    font-size: var(--font-size-m);
    color: var(--color-dark);
}


.list {
    display: flex;
    align-items: center;
    gap: var(--gap);
    flex-direction: row;
    font-family: serif;
}