@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Kalnia:wght@400&display=swap');
@import url('header.css');
@import url('article.css');
@import url('footer.css');

:root {
    --color-dark: #272727;
    --color-light-alt: #5d5c5c;
    --color-background: #f9f9f9;
    --font-family: 'Kalnia', serif;
    --font-size-xs: 1.2rem;
    --font-size-s: 1.6rem;
    --font-size-m: 2.4rem;
    --font-size-l: 3rem;
    --font-size-xl: 4rem;
    --gap: 8rem;
    --margin-s: 2rem;
    --margin-m: 3rem;
    --margin-min-s: 20rem;
    --margin-min-m: 30rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-s);
    color: var(--color-dark);
    background-color: var(--color-background);
    letter-spacing: 1px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 50%;
    display: block;
}

p {
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
}

ul {
    list-style: none;
}

button {
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}


.container {
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}



.place-item-center {
    display: inline-flex;
    justify-content: center;
}


.banner {
    text-align: center;
    padding: 50px;
    background: #333;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    align-items: center;
    color: white;
}

.banner h1 {
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
}

.list-links:hover,
.btn:hover {
    color: var(--color-light-alt);
}


section {
    display: grid;
    grid-template-columns: 1fr 40%;
    align-items: flex-start;
    padding: 20px;
}

.aboutme {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 5px;
    padding: 5px;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
}

.about-img {
    border-radius: 50%;
    max-width: auto;
    margin-top: -7px;
    justify-self: center;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    section {
        grid-template-columns: 1fr;
    }
}